DATABASE_URL="postgresql://user:password@ep-xxxx.neon.tech/quitchen?sslmode=require"
BETTER_AUTH_SECRET="your-secret-better-auth"
BETTER_AUTH_URL="http://localhost:4500"
ADMIN_EMAIL="yourexample@quitchen.com"
ADMIN_PASSWORD="ChangeThisHere123!"
PORT=4500